build/
**/__pycache__
**/TEST/OUT
**/TEST/ADM
**/TEST/.hwut-store
**/TEST/.hwut-lock
**/TEST/.hwut-session
**/tmp
**/tmp.*
**/*.coverage
**/*.bak
**/*.fly
**/*-DRAFT
**/stats.log
**/htmlcov
zz-trash.tgz
